/.project
/.pydevproject
/.settings/
/.pytest_cache/
/.cache/
/.tox/
/.virtualenv/
/tmp_*/
/build/
/build_doc/
/src/*/_version_scm.py
/src/*.egg-info/
/dist/
/try/
/done/*.done
/coverage_html/
.ipynb_checkpoints/
*.pyc
*.pyo
*.log
*.tmp
tmp.*
*~
.*~
*.py,cover
.coverage
MANIFEST
MANIFEST.in
cprofilerstats*.profile
.DS_Store
