# ------------------------------------------------------------------------------
# Pip requirements file for packages needed for development.
#
# Make sure that the minimum versions required in this file are consistent with
# the minimum versions specified in minimum-constraints.txt.


# ------------------------------------------------------------------------------
# Direct and necessary indirect dependencies for development.
# Must be consistent with minimum-constraints-develop.txt.

# Tox
tox>=4.30.3

# Package builder
build>=1.4.4
pyproject_hooks>=1.2.0
virtualenv>=21.3.1

# Test driver
pytest>=8.4.2
pluggy>=1.6.0

# Coverage reporter
coverage>=7.10.7
# coveralls version 4.0.1 requires Python>=3.8 and pin Python<=3.12.
# coveralls version 4.0.2 requires Python>=3.10 and no longer pins to a Python 3.x version.
coveralls>=4.0.1; python_version == '3.9'
coveralls>=4.1.0; python_version >= '3.10'

# Flake8 checker
flake8>=7.3.0
mccabe>=0.7.0
pycodestyle>=2.14.0
pyflakes>=3.4.0

# Ruff checker
ruff>=0.15.12

# PyLint checker
pylint>=3.3.9; python_version == '3.9'
pylint>=4.0.5; python_version >= '3.10'
# pylint 4.0.5 depends on astroid>=4.0.2,<=4.1.dev0
astroid>=3.3.11; python_version == '3.9'
astroid>=4.0.4; python_version >= '3.10'

# Safety checker
safety>=3.7.0
safety-schemas>=0.0.16

# Bandit checker
bandit>=1.8.6

# Package dependency management tools
pipdeptree>=2.28.0
pip-check-reqs>=2.5.6

{%- if cookiecutter.with_readthedocs == "Yes" %}
# Sphinx doc builder
Sphinx>=7.4.7
autodocsumm>=0.2.15
babel>=2.18.0
docutils>=0.21.2
Pygments>=2.20.0
sphinx-git>=11.0.0
sphinx_rtd_theme>=3.1.0
sphinxcontrib-applehelp>=2.0.0
sphinxcontrib-devhelp>=2.0.0
sphinxcontrib-htmlhelp>=2.1.0
sphinxcontrib-jquery>=4.1
sphinxcontrib-jsmath>=1.0.1
sphinxcontrib-qthelp>=2.0.0
sphinxcontrib-serializinghtml>=2.0.0
sphinxcontrib-websupport>=2.0.0

{%- endif %}
{%- if cookiecutter.with_changelog == "Yes" and cookiecutter.with_readthedocs == "Yes" %}
# Change log builder
towncrier>=25.8.0

{%- endif %}
{%- if cookiecutter.with_jupyter_notebook == "Yes" %}
# Jupyter Notebook
# Note: The packages for Jupyter Notebook are prone to causing endless pip backtracking when
#       installed with minimum versions. This was addressed by pinning the package versions
#       to a maximum in order to reduce the search space for pip.
# TODO: Re-enable for Python 3.13 on Windows once pywin32 install issue is solved, see
#       https://github.com/mhammond/pywin32/issues/2367
notebook>=7.5.6; sys_platform != 'win32' or python_version <= '3.12'
ipykernel>=6.31.0; sys_platform != 'win32' or python_version <= '3.12'
ipython-genutils>=0.2.0; sys_platform != 'win32' or python_version <= '3.12'
ipython>=8.18.1; sys_platform != 'win32' or python_version <= '3.12'
ipywidgets>=8.1.8; sys_platform != 'win32' or python_version <= '3.12'
jupyter_client>=8.6.3; sys_platform != 'win32' or python_version <= '3.12'
jupyter-console>=6.6.3; sys_platform != 'win32' or python_version <= '3.12'
jupyter_core>=5.8.1; sys_platform != 'win32' or python_version <= '3.12'
jupyter_server>=2.18.2; sys_platform != 'win32' or python_version <= '3.12'
jupyter>=1.1.1; sys_platform != 'win32' or python_version <= '3.12'
jupyterlab_pygments>=0.3.0; sys_platform != 'win32' or python_version <= '3.12'
jupyterlab_server>=2.28.0; sys_platform != 'win32' or python_version <= '3.12'
jupyterlab_widgets>=3.0.16; sys_platform != 'win32' or python_version <= '3.12'
jupyterlab>=4.5.7; sys_platform != 'win32' or python_version <= '3.12'
nbclient>=0.10.2; sys_platform != 'win32' or python_version <= '3.12'
nbconvert>=7.17.1; sys_platform != 'win32' or python_version <= '3.12'
nbformat>=5.10.4; sys_platform != 'win32' or python_version <= '3.12'
notebook_shim>=0.2.4; sys_platform != 'win32' or python_version <= '3.12'
qtconsole>=5.7.2; sys_platform != 'win32' or python_version <= '3.12'

{%- endif %}

# ------------------------------------------------------------------------------
# Indirect dependencies for development that are needed for some reason.
# Must be consistent with minimum-constraints-develop.txt.
