# ------------------------------------------------------------------------------
# Pip requirements file for packages needed for installation.
#
# Note: The dependencies in this file will become the dependencies stated
# in the Pypi package metadata.


# ------------------------------------------------------------------------------
# Direct dependencies for install.
# Must be consistent with minimum-constraints-install.txt.

# TODO: Add such dependencies with >=


# ------------------------------------------------------------------------------
# Indirect dependencies for install that are needed for some reason.
# Must be consistent with minimum-constraints-install.txt.

# TODO: Add such dependencies with >=
